<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingDream.llfEnglish.mapper.WordTagMapper">
    <!--region 结果集映射-->
    <resultMap id="wordTag" type="com.lingDream.llfEnglish.entity.WordTag">
        <result property="tagGroup.tagGroupId" column="tag_group_id"/>
        <result property="tagGroup.tagGroupName" column="tag_group_name"/>
        <result property="tagGroup.tagGroupComment" column="tag_group_comment"/>
    </resultMap>
    <!--endregion-->
    <select id="selectByOnly" resultMap="wordTag">
        select *
        from word_tag
        where word_tag_name = #{wordTagName}
    </select>
    <insert id="insert">
        insert into word_tag(word_tag_id, word_tag_name, tag_group_id, tag_comment)
            value (#{wordTagId}, #{wordTagName}, #{tagGroup.tagGroupId}, #{tagComment})
    </insert>

    <insert id="insertList">
        insert into word_tag(word_tag_id, word_tag_name, tag_comment)
        values
        <foreach collection="list" separator="," item="item">
            (#{item.wordTagId},#{item.wordTagName},#{item.tagComment})
        </foreach>
    </insert>

    <update id="updateById">
        UPDATE word_tag
        SET word_tag_name=#{et.wordTagName},
            tag_comment=#{et.tagComment},
            tag_group_id = #{et.tagGroup.tagGroupId}
        WHERE word_tag_id = #{et.wordTagId}
    </update>

    <delete id="deleteById">
        delete
        from word_tag
        where word_tag_id = #{wordTagId}
    </delete>
</mapper>