<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingDream.llfEnglish.mapper.WordTypeMapper">
    <!--region 结果集映射-->
    <resultMap id="wordType" type="com.lingDream.llfEnglish.entity.WordType">

    </resultMap>
    <insert id="insertList">
        insert into word_type(word_type_id,word_type_name,word_type_comment)
        values
        <foreach collection="list" separator="," item="item">
            (#{item.wordTypeId},#{item.wordTypeName},#{item.wordTypeComment})
        </foreach>
    </insert>

    <!--endregion-->
    <select id="selectByOnly" resultMap="wordType">
        select *
        from word_type
        where word_type_name = #{wordTypeName}
    </select>
</mapper>